---
title: Static Site Starter Kit
---
<div class="wrapper">
    <section class="page page-home">
        <div class="container">
            <img class="logo" src="img/logo.svg" />
        </div>
    </section>

    <section class="page page-about">
        <div class="container">
            <h1>About</h1>
        </div>
    </section>

    <section class="page page-menu">
        <div class="container">
            <h1>Menu</h1>
        </div>
    </section>

    <section class="page page-photos">
        <div class="container">
            <h1>Photos</h1>
        </div>
    </section>

    <section class="page page-contact">
        <div class="container">
            <h1>Contact</h1>
        </div>
    </section>

    <section class="page page-store">
        <div class="container">
            <h1>Store</h1>
        </div>
    </section>
</div>