/* ==========================================================================
   Base styles
   ========================================================================== */

html, body {
    
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Pages
   ========================================================================== */

.page-home {
    background: no-repeat #fff;
    background-image: url(../img/bg-dinner-top.jpg), url(../img/bg-dinner-right.jpg), url(../img/bg-dinner-bottom.jpg), url(../img/bg-dinner-left.jpg);
    background-position: 50% 0, 100% 50%, 50% 100%, 0 50%;
    background-size: auto 25%, 17% auto, auto 29%, 18% auto;
    text-align: center;

    .container {
        height: 100%;

        &::after {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0px;
        }
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
        max-width: 50%;
        max-height: 30%;
    }
}

.page-about,
.page-menu,
.page-photos,
.page-store {
    color: @dark-bg-color;
    background-color: @light-bg-color;
}

.page-contact {
    color: @light-bg-color;
    background-color: @dark-bg-color;
}