/* ==========================================================================
   Menu
   ========================================================================== */

.menu {
    padding-right: 1.5em;
    letter-spacing: 1px;

    > h3 {
        font-size: 24px;
        margin: 1em 0 0;
        padding: 0;
        text-decoration: underline;

        &:first-child {
            margin-top: 0;
        }
    }

    > p {
        margin: 0 !important;
        padding: 0;
        font-size: 18px;
    }
}

.list-menu {

    dt {
        font-size: 24px;
        font-weight: normal;
        margin-top: 1em;
    }

    dd {
        font-size: 18px;
    }

    .price {
        float: right;
    }
}
