/* ==========================================================================
   Menu
   ========================================================================== */

.menu {
    padding-right: 1.5em;

    > h3 {
        margin: 1em 0 0;
        padding: 0;
        text-decoration: underline;

        &:first-child {
            margin-top: 0;
        }
    }

    > p {
        margin: 0 !important;
        padding: 0;
    }
}

.list-menu {

    dt {
        font-size: 1.2em;
        margin-top: 1em;
    }

    .price {
        float: right;
    }
}
