/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar,
.navbar-header,
.navbar-header .container,
.navbar-brand {
    height: 100px;

    @media (min-width: @screen-sm-min) {
        height: 110px;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
        height: 121px;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg-min) {
        height: 130px;
    }
}

.navbar {
    border: 3px solid @dark-bg-color;

    -webkit-transition: border-color 1s linear;
            transition: border-color 1s linear;

    path {
        fill: @dark-bg-color;

        -webkit-transition: fill 1s linear;
                transition: fill 1s linear;
    }
}

.navbar-brand {
    padding: 17px 15px 23px;
    cursor: pointer;

    @media (min-width: @screen-sm-min) {
        padding: 19px 15px 25px;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
        padding: 20px 15px 28px;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg-min) {
        padding: 20px 15px 30px;
    }

    svg {
        width: 180px;
        height: 60px;

        /* Small devices (tablets, 768px and up) */
        @media (min-width: @screen-sm-min) {
            width: 200px;
            height: 66px;
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: @screen-md-min) {
            width: 220px;
            height: 73px;
        }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: @screen-lg-min) {
            width: 241px;
            height: 80px;
        }
    }
}

.navbar-nav {
    margin: (@navbar-padding-vertical / 2) + 11px -@navbar-padding-horizontal 0;
    border: 3px solid @dark-bg-color;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    vertical-align: baseline;

    -webkit-transition: border-color 1s linear;
            transition: border-color 1s linear;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm-min) {
        margin: (@navbar-padding-vertical / 2) + 13px -@navbar-padding-horizontal 0;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
        margin: (@navbar-padding-vertical / 2) + 17px -@navbar-padding-horizontal 0;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg-min) {
        margin: (@navbar-padding-vertical / 2) + 20px -@navbar-padding-horizontal 0;
    }

    > li {
        border-left: 3px solid @dark-bg-color;

        -webkit-transition: border-color 1s linear;
                transition: border-color 1s linear;
    }

    > li:first-child {
        border-left: none;
    }

    > li > a {
        padding: 12px 25px;
        color: @dark-bg-color;
        font-size: 12px;

        /* Small devices (tablets, 768px and up) */
        @media (min-width: @screen-sm-min) {
            font-size: 14px;
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: @screen-md-min) {
            font-size: 16px;
        }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: @screen-lg-min) {
            font-size: 18px;
        }
    }

    > li > a:hover {
        background: none;
    }

    > li.active > a {
        color: @light-bg-color;
        background: @dark-bg-color;
    }

    > li.active a:before,
    > li.active a:after {
        position: absolute;
        top: 50%;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: @light-bg-color;
        content: '';
    }

    > li.active a:before {
        left: 10px;
    }

    > li.active a:after {
        right: 10px;
    }

    @media (min-width: @grid-float-breakpoint) {

        > li {
            > a {
                padding: 12px 25px;
                line-height: 1em;
            }
        }
    }

    &:last-child {
        margin-right: 0 !important;
    }
}

// Added on the Contact page only
.navbar-light {
    border-color: @light-bg-color;

    path {
        fill: @light-bg-color;
    }

    .navbar-nav {
        border-color: @light-bg-color;

        > li {
            border-color: @light-bg-color;
        }

        > li > a {
            color: @light-bg-color;
        }

        > li.active > a {
            color: @dark-bg-color;
            background: @light-bg-color;
        }

        > li.active a:before,
        > li.active a:after {
            background-color: @dark-bg-color;
        }
    }
}
