/* ==========================================================================
   Variables
   ========================================================================== */

@light-bg-color: #fff4e8;
@dark-bg-color:  #6d0000;

@navbar-height: 100px;

// Typography
@font-family-sans-serif: "CalibreWeb", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base: 22px;
